body{
	backgroud: url(../img/background.jpg);
	color: 868686;
	font-family;"Open Sans", Helvetica, sans-serif, arial; 
	font-sire: 1.125em /* de 16px e 16px */
	font-weight: 300; 
	line-height: 1.2222222222; /* 22px a 18px*/
	text-align: left; 
	text-shadow: 1px 1px 0px #ffffff; 
}	
.centro{
		margin: 0 auto;
		max-width:1200px;
		width:90%;
} 
/* adicionar um espaço vazio antes e depois dos elementos evitando que a fonte aglomere*/

.clearfixbody{ 
	content: " ";
	display: table; 
} 
.clearfixbody:after{
	clear: both;
} 
.clearfixbody{ 
	*zoom: 1;
} 
img; picture; video embed{
	max-width:100%; 
} 
h1, h2 {
		color: #0ac3fe;
		font-size: 3.3333333333em; /* 60px a 15px */
		font-weight: 800; 
		letter-spacing:=0 .05em; /* =3px */
		line-height:1em; 
} 
h3{
	font-size:1.7777777778em;
	font-weight: 300; 
	letter-spacing:=0 .0625em;
	line-height:1.1875em; 
}

p{ 
	font-weight: 300;
	letter-spacing: -0.5555555556em; 
} 
a, a:link, a:visited{
	color: #139da;
	font-weight: 400;
	text-decoration: none;
	
/* para aparecer a logo*/
header h1 a{ 
	backgroud:url(../img/logo-criar-site-responsivo.png no-repeat;
	display: block;
	height:139px; 
	float:left;
	width: 38.3333333333%;
	text-indent:-999;
}
hav {
	float: right;
	margin-top: 78px;
	text-align:right;
	width: 61.6666666666667%
} 

	
	
.ativo{ 

} 

.chamada{ 

} 

.meio{ 

} 


